*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
  
}

.header{
    background-image: url('img/stars.jpg');
    background-color: #222;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #fff;
}

.header-caption{
    width: 100%;
}

.section-content{
    padding: 5rem 0;
}

#about-us{
    background:url('img/programming.jpg') center center no-repeat;
    background-size: cover;
}

.about-text{
    padding: 1.875rem;
    background-color: #00000093;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: rgb(155, 148, 148);
    text-decoration: none;
}

.footer-primary{
    background-color: #3d3d3d
}

.footer-dark{
    background-color: rgb(39, 39, 39);
}

.logo {
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 10px;
}

