*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
  
}

.header{
    background-image: url('img/stars.jpg');
    background-color: #222;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #fff;
}

.header-caption{
    width: 100%;
}

